.container{
    display:flex;
    flex-direction:column;
    padding: 3rem;
    font-size: 2rem;
    border-radius:2rem;
    background-color: #fff;
    width: 100%;
    max-width: 50%;
    height: fit-content;
    &__head{
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        img{
            width:10rem;
        }
        h3{
            font-size:3rem
        }
    }
}
.password{
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    background-color:white;
    border: 2px solid grey;
    color:black;
    border-radius: 1.5rem;
    margin-bottom:1.5rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size:3rem;
    cursor: pointer;
    
}
.checkbox{
    display:flex;
    flex-direction:column;
}
.input{
    display:flex;
    font-size: 2.5rem;
    align-items:center;
    label{
        margin-left:1.5rem;
    }
    margin-bottom: 1rem;
}
.len{
    font-size:2rem;
    margin-bottom: 1rem;
}
.generate{
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 1.5rem;background-color: rgb(255, 157, 127);
}

.check{
    margin: 1rem 0;
    font-weight:bold;
    &_in{
        font: inherit;
    }
}
input[type="checkbox"]{
    height:2rem;
    width:2rem;
}